---
apiVersion: v1
kind: ConfigMap
metadata:
  name: sn-default-env
  namespace: apps
  labels:
    group: standardnotes
data:
  LOG_LEVEL: "info"
  NODE_ENV: "development"
  VERSION: "local"
  # AUTH_JWT_SECRET: "auth_jwt_secret"
  PORT: "3000"
  DB_HOST: "maria.ingress.svc.cluster.local"
  DB_REPLICA_HOST: "maria.ingress.svc.cluster.local"
  DB_PORT: "3306"
  DB_USERNAME: "standard" 
  # DB_PASSWORD: changeme123
  DB_DATABASE: "notes"
  DB_DEBUG_LEVEL: "warn" 
  # "all" | "query" | "schema" | "error" | "warn" | "info" | "log" | "migration"
  DB_MIGRATIONS_PATH: "dist/migrations/*.js"
  # REDIS_URL: "redis://redis.redis.svc.cluster.local"
  # SNS_TOPIC_ARN: 
  # SNS_AWS_REGION: 
  # SQS_QUEUE_URL: 
  # SQS_AWS_REGION: 
  # S3_AWS_REGION: 
  # S3_BACKUP_BUCKET_NAME: 
  # REDIS_EVENTS_CHANNEL: events
  # INTERNAL_DNS_REROUTE_ENABLED: false
  # EXTENSIONS_SERVER_URL: "http://extensions-server:3004"
  AUTH_SERVER_URL: "http://sn-auth.apps.svc.cluster.local:3000"
  # EMAIL_ATTACHMENT_MAX_BYTE_SIZE: 10485760
  REVISIONS_FREQUENCY: "300"
 # (Optional) New Relic Setup
  NEW_RELIC_ENABLED: "false"
  # NEW_RELIC_APP_NAME: "Syncing Server JS"
  # NEW_RELIC_LICENSE_KEY: 
  # NEW_RELIC_NO_CONFIG_FILE: true
  # NEW_RELIC_DISTRIBUTED_TRACING_ENABLED: false
  # NEW_RELIC_LOG_ENABLED: false
  # NEW_RELIC_LOG_LEVEL: info
