---
apiVersion: v1
kind: ConfigMap
metadata:
  name: sn-auth-env
  namespace: apps
  labels:
    group: standardnotes
data:
  # JWT_SECRET: secret
  # LEGACY_JWT_SECRET: legacy_jwt_secret
  AUTH_JWT_TTL: "60000"
  REDIS_EVENTS_CHANNEL: "auth-events"
  DISABLE_USER_REGISTRATION: "false"
  # PSEUDO_KEY_PARAMS_KEY: secret_key
  FAILED_LOGIN_LOCKOUT: "3600"
  MAX_LOGIN_ATTEMPTS: "6"
  ACCESS_TOKEN_AGE: "5184000"
  REFRESH_TOKEN_AGE: "31556926"
  # USER_SERVER_REGISTRATION_URL: 
  # USER_SERVER_AUTH_KEY: 
  EPHEMERAL_SESSION_AGE: "259200"
  # ENCRYPTION_SERVER_KEY: change-me-!
