---
apiVersion: v1
kind: ConfigMap
metadata:
  name: sn-web-env
  namespace: apps
  labels:
    group: standardnotes
data:
  RAILS_ENV: "development"
  PORT: "3001"
  WEB_CONCURRENCY: "0"
  RAILS_LOG_TO_STDOUT: "true"
  # Log Level options: "INFO" | "DEBUG" | "INFO" | "WARN" | "ERROR" | "FATAL"
  RAILS_LOG_LEVEL: "ERROR"
  RAILS_SERVE_STATIC_FILES: "true"
  #SECRET_KEY_BASE: test
  APP_HOST: "https://notes.derpaholic.com"
  PURCHASE_URL: "https://standardnotes.com/purchase"
  PLANS_URL: "https://standardnotes.com/plans"
  DASHBOARD_URL: "http://standardnotes.com/dashboard"
  
  DEFAULT_SYNC_SERVER: "https://notes.derpaholic.com"
  
  # Development options
  DEV_DEFAULT_SYNC_SERVER: "https://api.standardnotes.com"
  ENABLE_UNFINISHED_FEATURES: "false"
  DEV_WEBSOCKET_URL: "wss://sockets-dev.standardnotes.com"
  
  # NewRelic (Optional)
  #NEW_RELIC_ENABLED: false
  #NEW_RELIC_THREAD_PROFILER_ENABLED: false
  #NEW_RELIC_LICENSE_KEY: 
  #NEW_RELIC_APP_NAME: Web
  #NEW_RELIC_BROWSER_MONITORING_AUTO_INSTRUMENT: false
  
  # DEV
  #DEV_ACCOUNT_EMAIL: ""
  #DEV_ACCOUNT_PASSWORD: ""
  #DEV_ACCOUNT_SERVER: ""
