---
apiVersion: v1
kind: ConfigMap
metadata:
  name: sn-default-env
  namespace: apps
  labels:
    group: standardnotes
data:
  LOG_LEVEL: "info"
  NODE_ENV: "development"
  VERSION: "local"
  # AUTH_JWT_SECRET: "auth_jwt_secret"
  PORT: "3000"
  DB_HOST: "maria.ingress.svc.cluster.local"
  DB_REPLICA_HOST: "maria.ingress.svc.cluster.local"
  DB_PORT: "3306"
  DB_USERNAME: "standard" 
  # DB_PASSWORD: changeme123
  DB_DATABASE: "notes"
  DB_DEBUG_LEVEL: "error" 
  # "all" | "query" | "schema" | "error" | "warn" | "info" | "log" | "migration"
  DB_MIGRATIONS_PATH: "dist/migrations/*.js"
  # REDIS_URL: "redis://redis.redis.svc.cluster.local"
  # SNS_TOPIC_ARN: 
  # SNS_AWS_REGION: 
  # SQS_QUEUE_URL: 
  # SQS_AWS_REGION: 
  # S3_AWS_REGION: 
  # S3_BACKUP_BUCKET_NAME: 
  # REDIS_EVENTS_CHANNEL: events
  # INTERNAL_DNS_REROUTE_ENABLED: false
  # EXTENSIONS_SERVER_URL: "http://extensions-server:3004"
  AUTH_SERVER_URL: "http://sn-auth.apps.svc.cluster.local:3000"
  # EMAIL_ATTACHMENT_MAX_BYTE_SIZE: 10485760
  REVISIONS_FREQUENCY: "300"
 # (Optional) New Relic Setup
  NEW_RELIC_ENABLED: "false"
  # NEW_RELIC_APP_NAME: "Syncing Server JS"
  # NEW_RELIC_LICENSE_KEY: 
  # NEW_RELIC_NO_CONFIG_FILE: true
  # NEW_RELIC_DISTRIBUTED_TRACING_ENABLED: false
  # NEW_RELIC_LOG_ENABLED: false
  # NEW_RELIC_LOG_LEVEL: info
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: sn-api-env
  namespace: apps
  labels:
    group: standardnotes
data:
  SYNCING_SERVER_JS_URL: "http://sn-sync.apps.svc.cluster.local:3000"
  AUTH_SERVER_URL: "http://sn-auth.apps.svc.cluster.local:3000"
  HTTP_CALL_TIMEOUT: "10000"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: sn-auth-env
  namespace: apps
  labels:
    group: standardnotes
data:
  # JWT_SECRET: secret
  # LEGACY_JWT_SECRET: legacy_jwt_secret
  AUTH_JWT_TTL: "60000"
  REDIS_EVENTS_CHANNEL: "auth-events"
  DISABLE_USER_REGISTRATION: "false"
  # PSEUDO_KEY_PARAMS_KEY: secret_key
  FAILED_LOGIN_LOCKOUT: "3600"
  MAX_LOGIN_ATTEMPTS: "6"
  ACCESS_TOKEN_AGE: "5184000"
  REFRESH_TOKEN_AGE: "31556926"
  # USER_SERVER_REGISTRATION_URL: 
  # USER_SERVER_AUTH_KEY: 
  EPHEMERAL_SESSION_AGE: "259200"
  # ENCRYPTION_SERVER_KEY: change-me-!
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: sn-web-env
  namespace: apps
  labels:
    group: standardnotes
data:
  RAILS_ENV: "development"
  PORT: "3001"
  WEB_CONCURRENCY: "0"
  RAILS_LOG_TO_STDOUT: "true"
  # Log Level options: "INFO" | "DEBUG" | "INFO" | "WARN" | "ERROR" | "FATAL"
  RAILS_LOG_LEVEL: "ERROR"
  RAILS_SERVE_STATIC_FILES: "true"
  #SECRET_KEY_BASE: test
  APP_HOST: "https://notes.derpaholic.com"
  PURCHASE_URL: "https://standardnotes.com/purchase"
  PLANS_URL: "https://standardnotes.com/plans"
  DASHBOARD_URL: "http://standardnotes.com/dashboard"
  
  DEFAULT_SYNC_SERVER: "https://notes.derpaholic.com"
  
  # Development options
  DEV_DEFAULT_SYNC_SERVER: "https://api.standardnotes.com"
  ENABLE_UNFINISHED_FEATURES: "false"
  DEV_WEBSOCKET_URL: "wss://sockets-dev.standardnotes.com"
  
  # NewRelic (Optional)
  #NEW_RELIC_ENABLED: false
  #NEW_RELIC_THREAD_PROFILER_ENABLED: false
  #NEW_RELIC_LICENSE_KEY: 
  #NEW_RELIC_APP_NAME: Web
  #NEW_RELIC_BROWSER_MONITORING_AUTO_INSTRUMENT: false
  
  # DEV
  #DEV_ACCOUNT_EMAIL: ""
  #DEV_ACCOUNT_PASSWORD: ""
  #DEV_ACCOUNT_SERVER: ""
